:root {
  --size: 16;
  --baseColor: white;
  --changeColor: red;
}

h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 850;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: darkslateblue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  min-width: 700px;
  min-height: 700px;
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  border: 2px solid darkgray;
}

.container {
  /* background-color: lightblue; */
  display: flex;

}

.buttons1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 175px;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.buttons2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 175px;
  color: darkslategray;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.gridDiv {
  /* background-color: var(--baseColor); */
  background-color: white;
  border: .5px solid lightgray;
}

button {
  padding: 20px;
  margin: 20px;
  min-width: 125px;
  color: darkslateblue;
  border: 3px solid darkslategrey;
  background-color: white;
}

label {
  border-bottom: solid 1px white;
  margin: 5px;
}

input {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

input#randomColor {
  width: 50px;
  height: 25px;
}